<h3 class="fff">Followers</h3>
<% @user.followers.each do |follower| %>
  <div class="row follow-row">
    <ul class="follow-people">
      <li>
        <%= image_tag("na-#{follower.id}.jpg", size: "100x100") %>
        <%= link_to follower.name.capitalize, profiles_show_path(id: follower.id) %>
      </li>
    </ul>
  </div>
<% end %>
