<di class="container">
  <div class="row">
    <div class="col-12 search-box">
      <%= form_tag(stalk_zones_show_path, method: "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <%= submit_tag("Search", class: "btn btn-danger") %>
      <% end %>
    </div>
  </div> <!-- end col -->

  <div class="container">
    <div class="row justify-content-between">
  <!-- Users who are not friends -->
    <div class="col-12 fe-col">
      <h3>Find People</h3>
      <hr>
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
          <ul class="people-name">
            <li style="display: inline-block">
              <%= link_to user.name.capitalize, profiles_show_path(id: user.id) %>
            </ul>
          <% end %>
        <% end %>
      </div>

  </div> <!-- end row -->
</di><!-- end div container -->
